/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
    font-family: 'Hedvig Letters Serif', serif;
}

body {
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #DDF1BD
}

#logo {
    max-width: 20%;
    max-height: 20%;
    filter: drop-shadow(0px 0px 3px #000000);
}

#credits {
    margin: 25px 10px 25px 10px;
    /* order is top left bottom right */
}

p {
    font-family: 'Libre Baskerville', serif;
}

button {
font-family: 'Libre Baskerville', serif;
}

input {
    font-family: 'Libre Baskerville', serif;
}

.nav-item {
    font-family: 'Hedvig Letters Serif', serif;
}
