{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}
{% block main %}

    <div class="about-page-container">
        <h1 class="page-title"><strong>About Buying on the Road</strong></h1>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{{ url_for('static', filename='freepik1.png') }}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{{ url_for('static', filename='freepik2.jpg') }}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{{ url_for('static', filename='freepik3.jpg') }}" alt="Third slide">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        <section class="about-section">
            <h2>Introduction</h2>
            <p><strong>What We Do:</strong> Buying on the Road is an innovative website application designed for the nostalgic traveler. Our platform empowers you to track your purchases and pin point them on a map. Post-roadtrip, you'll have all your purchases mapped, showing the long road you've taken!</p>
            <p><strong>Our Mission:</strong> Our mission is to ensure you have all your (material) memories in one place, mapping the road you've traveled.</p>
        </section>

        <section class="story-section">
            <h2>Our Story</h2>
            <p><strong>Background:</strong> Buying on the Road was born from the idea that travelers like to reminisce on their memories, whether through photos or the souvenirs they bought.</p>
            <p><strong>Evolution:</strong> Since the formation of our project, Buying on the Road has grown from a simple idea into a fully-fledged application serving a diverse user base. We've stumbled across inveitable bumps in the ROAD ;) but ultimately were able to meet our goal and create a website application that allows you to view your purchases on the road! We are also continuously updating our platform with new features. Our application is a commitment to improving travel experiences.</p>
        </section>

        <section class="team-section">
            <h2>Meet the Team</h2>
              <table class="table-c">
                <tr>
                  <th>Name</th>
                  <th>Bio</th>
                </tr>
                <tr>
                    <td>Lorena Alvarez</td>
                    <td>First year Harvard College student living in Greenough! Potential CS Concentration and Sociology secondary.</td>
                </tr>
                <tr>
                    <td>Angel Gutierrez</td>
                    <td> First year Harvard College student living in Stoughton South! Potential CS Concentration and Philosophy secondary. </td>
                </tr>
              </table>
        </section>

        <section class="contact-section">
            <h2>Contact Information</h2>
            <p><strong>Contact Details:</strong></p>
            <p>Email: <a href = "mailto:lorenaalvarez@college.harvard.edu?subject = Feedback&body = Message">lorenaalvarez@college.harvard.edu</a> and <a href = "mailto:lorenaalvarez@college.harvard.edu?subject = Feedback&body = Message">agutierrez@college.harvard.edu</a></p>
        </section>

    </div>
{% endblock %}
