{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}
{% block main %}
    <div class="about-page-container">
        <h1 class="page-title"><strong>About Buying on the Road</strong></h1>

        <section class="about-section">
            <h2>Introduction</h2>
            <p>What We Do: Buying on the Road is an innovative website application designed for the modern traveler. Our platform empowers you to track your purchases no matter where you are. Gone are the days of wondering when your packages will arrive at your doorstep. With our intuitive tracking system, you'll have real-time updates on the whereabouts of your purchases, giving you peace of mind while you're on the move!</p>
            <p>Our Mission: Our mission is to revolutionize the way you track your purchases while traveling. We understand the uncertainties of waiting for packages and the inconvenience of not knowing their arrival times. That's why we've created a solution that allows you to input your purchase information through a simple form and track its location with precision. We're dedicated to making your travel experiences worry-free and more enjoyable.</p>
        </section>

        <section class="story-section">
            <h2>Our Story</h2>
            <p>Background: Buying on the Road was born from the idea that travelers often have difficulty tracking their purchases on the road. In a world where mobility is a part of our daily lives, we recognized a gap in the market -- the ability to track purchases while traveling. As travelers ourselves, we experienced firsthand the frustration of uncertain package deliveries. This sparked the idea for a platform that could offer real-time tracking for travelers' purchases.</p>
            <p>Evolution: Since the formation of our project, Buying on the Road has grown from a simple idea into a fully-fledged application serving a diverse user base. We've stumbled across inveitable bumps in the road, but ultimately were able to meet our goal and create a website application that allowed you to view your purchases on the road! We are also continuously updating our platform with new features. Our application is a commitment to improving travel experiences.</p>
        </section>

        <section class="team-section">
            <h2>Meet the Team</h2>
            <p>Team Members:
               Lorena Alvarez and Angel Gutierrez</p>
            <p>Bios: </p>
        </section>

        <section class="contact-section">
            <h2>Contact Information</h2>
            <p>Contact Details:</p>
            <p>*Email: lorenaalvarez@college.harvard.edu agutierrez@college.harvard.edu</p>
        </section>

    </div>
{% endblock %}
