{% extends "layout.html" %}
{% block main %}

<table class="table-center">
    <div class="purchases-table">
    <thead>
        <tr>
            <th class="table-th">Item</th>
            <th class="table-th">Location</th>
            <th class="table-th">Price</th>
            <th class="table-th">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td class="table-td">{{ purchase.item }}</td>
            <td class="table-td">{{ purchase.location }}</td>
            <td class="table-td">{{ purchase.price }}</td>
            <td class="table-td">{{ purchase.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</div>
</table>
{% endblock %}
